@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2? family= Water+Brush & display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Shadows+Into+Light&display=swap');
body{
    font-family: 'Shadows Into Light', cursive;
}
h1, h2{
    font-family: 'Pacifico', cursive;  
}