@charset "UTF-8";
.primeiro{
    text-align: center;
    width: 300px;
    height: 50px;
    background-color: lightgray;
    border-width: 10px;
    border-style: solid;
    border-color:red;
    padding: 20px;
    outline-width: 30px;
    outline-style: solid;
    outline-color: blue;
    margin: auto;
    margin-top: 50px;
}
.segundo{
    text-align: center;
    border-width: 10px;
    border-style: solid;
    border-color: red;
    outline-width: 30px;
    outline-style: solid;
    outline-color: blue;
    margin-top: 100px;
    margin-bottom: 100px;
}
.shorthandsegundo{
    text-align: center;
    border: 10px solid red;
    outline: 30px solid blue;
}